html {
  font-family: Arial, sans-serif; }

body {
  width: 100%; }

.wrapper {
  width: 100%;
  background-color: #f2f2f2; }

.container {
  max-width: 1500px !important;
  margin: 0 auto !important; }

.back-top {
  position: fixed;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 50%;
  background-color: #959595;
  font-size: 30px;
  bottom: 20px;
  right: 20px; }

ul {
  padding-left: 0px; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

p {
  font-size: 14px;
  margin-bottom: 0px !important; }

h1 {
  margin: 0px;
  color: #fff;
  font-size: 24px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 15px;
  color: #fff;
  margin: 0px; }

h4 {
  font-size: 15px;
  font-weight: inherit; }

h5 {
  font-size: 14px;
  font-weight: bold; }

h6 {
  font-size: 12px;
  opacity: 0.9; }

.text-orage {
  color: #ee4d2d; }

.text-blue {
  color: #0288d1; }

.text-lightblue {
  font-style: bold !important;
  color: #4d77a2; }

.text-line-through {
  text-decoration: line-through !important; }

.box-container {
  margin-top: 62px;
  display: flex;
  justify-content: center; }
  .box-container .loginShoppe {
    max-width: 600px;
    background-color: #fff;
    padding: 30px; }
    .box-container .loginShoppe .btnsignup {
      border-radius: 5px;
      line-height: 2;
      cursor: pointer;
      color: #fff;
      width: 100%;
      height: 35px;
      margin: 10px auto; }
      .box-container .loginShoppe .btnsignup .icon-contact {
        font-size: 25px;
        position: relative;
        float: left;
        top: 5px;
        left: 10px; }
    .box-container .loginShoppe .btnsignup:hover {
      opacity: 0.8; }
    .box-container .loginShoppe .phoneNumber {
      background-color: #329900; }
    .box-container .loginShoppe .loginFacebook {
      background-color: #187caa; }
    .box-container .loginShoppe .loginGoogle {
      background-color: #ff5252; }
    .box-container .loginShoppe .usernamePassword input {
      height: 50px;
      width: 100%;
      padding-left: 40px; }
    .box-container .loginShoppe .icon {
      opacity: 0.8;
      position: relative;
      top: 38px;
      left: -46%; }
    .box-container .loginShoppe a {
      text-decoration: underline; }
    .box-container .loginShoppe .rules {
      margin: 30px 0px; }

h1 {
  color: red;
  font-size: 25px; }

h2 {
  color: red; }

.card-item {
  margin-top: 16px; }

.navbar {
  background-color: #fff;
  width: 100%;
  position: fixed;
  padding: 10px 30px;
  z-index: 1000;
  top: 0; }

.nav-item .active {
  font-weight: bold;
  color: #ee4d2d !important;
  border-bottom: 3px solid #ee4d2d; }

.nav-item a:hover {
  color: #ee4d2d !important; }

.list-item a:hover {
  color: #ee4d2d; }

.navbar-logo {
  height: 30px; }

.navbar-logo img {
  height: 100%; }

.login {
  height: 100%;
  padding: 8px;
  border-radius: 3px;
  margin: 0px 15px;
  border: 1px solid #ee4d2d; }
  .login .login-btn {
    color: #ee4d2d; }

.language {
  display: flex;
  align-items: center;
  width: 20px;
  margin-right: 5px; }
  .language img {
    width: 100%; }

footer {
  padding: 30px 0px;
  background-color: #f2f2f2;
  width: 100%;
  height: 372px; }

.logo-shoppe {
  cursor: pointer; }

.facebook,
.instagram {
  display: inline-block;
  border-radius: 50%;
  background-color: #959595;
  width: 30px;
  height: 30px;
  color: #fff;
  cursor: pointer; }

.facebook:hover {
  background-color: #0288d1; }

.instagram:hover {
  background-color: #ba30a7; }

.link-icon {
  display: flex;
  justify-content: space-around; }

.link-icon .icon {
  font-size: 16px;
  line-height: 30px; }

.img-bocongthuong {
  width: 170px;
  cursor: pointer; }

.img-bocongthuong img {
  width: 100%; }
