<footer>
  <div class="container d-flex justify-content-around">
    <aside>
      <h5>Công ty</h5>
      <ul class="list-item">
        <li><a href="#!">Giới thiệu</a></li>
        <li><a href="#!">Trung tâm Trợ giúp</a></li>
        <li><a href="#!">Quy chế</a></li>
        <li><a href="#!">Điều khoản sử dụng</a></li>
        <li><a href="#!">Bảo mật thông tin</a></li>
        <li><a href="#!">Giải quyết khiếu nại</a></li>
        <li><a href="#!">Liên hệ</a></li>
        <li><a href="#!">Hợp tác nhân viên giao nhận</a></li>
        <li><a href="#!">Đăng ký quán</a></li>
        <li><a href="#!">ShopeeFood Uni</a></li>
      </ul>
    </aside>
    <aside>
      <h5>Ứng dụng ShopeeFood</h5>
      <div class="appstore">
        <a href="#!"><img src="../../../public/img/AppStore-vn.png" alt="appstore"></a>
      </div>
      <div class="googleplay my-4">
        <a href="#!"><img src="../../../public/img/PlayStore-vn.png" alt="playstore"></a>
      </div>
      <div class="huawei">
        <a href="#!"><img src="../../../public/img/Huawei-gallery-vn.png" alt="huawei"></a>
      </div>
    </aside>
    <aside>
      <div class="text-center">
        <div class="logo-shoppe d-flex justify-content-center">
          <img src="../../../public/img/Logo-ShopeefoodVN.png" alt="logo">
        </div>
        <p>© 2021 ShopeeFood</p>
        <div class="link-icon">
          <span class="facebook ">
            <i class="icon fab fa-facebook-f"></i>
          </span>
          <span class="instagram">
            <i class="icon fab fa-instagram"></i>
          </span>
        </div>
      </div>
    </aside>
    <div class="text-end">
      <h5>Địa chỉ công ty</h5>
      <p>Công Ty Cổ Phần Foody</p>
      <p>Lầu G, Tòa nhà Jabes 1,</p>
      <p>số 244 đường Cống Quỳnh, phường Phạm Ngũ Lão, Quận 1, TPHCM</p>
      <p>Giấy CN ĐKDN số: 0311828036</p>
      <p>do Sở Kế hoạch và Đầu tư TP.HCM cấp ngày 11/6/2012,</p>
      <p>sửa đổi lần thứ 23, ngày 10/12/2020</p>
      <p>Số điện thoại: 1900 2042</p>
      <p>Email <a href="mailto:info@shopeefood.vn">info@shopeefood.vn</a></p>
      <div class="img-bocongthuong float-end">
        <img src="../../../public/img/gov_seals1.jpg" alt="bocongthuong">
      </div>
    </div>
  </div>
</footer>