<div class="box-container">
  <div class="loginShoppe text-center">
    <h5>Sign up</h5>
    <div class="phoneNumber btnsignup"><i class="fas fa-mobile-alt icon-contact"></i>SỐ ĐIỆN THOẠI</div>
    <div class="loginFacebook btnsignup"><i class="fab fa-facebook icon-contact"></i>FACEBOOK</div>
    <div class="loginGoogle btnsignup"><i class="fab fa-google-plus icon-contact"></i>GOOGLE</div>
    <p class="pt-4">Hoặc đăng nhập bằng tài khoản của bạn</p>
    <form action="#">
      <div class="usernamePassword">
        <i class="far fa-envelope icon"></i>
        <input type="text" placeholder="Username or Email" required id="userNameRegister">
        <i class="fas fa-lock icon"></i>
        <input type="password" placeholder="Password" required id="passWordRegister" minlength="5">
        <i class="fas fa-lock icon"></i>
        <input type="password" placeholder="Verify Password" required id="verifyPassword">
      </div>
      <div class="agreeCheckbox d-flex justify-content-between">
        <div>
          <input type="checkbox" id="agree" checked>
          <label for="agree">Lưu thông tin đăng nhập</label>
        </div>
        <div>
          <a href="#">Quên mật khẩu?</a>
        </div>
      </div>
      <button type="button" class="btn btn-primary w-100 my-3" id="submitBtn" onclick="validateRegister()">Đăng
        Ký</button>
    </form>
    <p class="rules">Chúng tôi không sử dụng thông tin của bạn với bất kỳ mục đích nào. Bằng cách đăng nhập
      hoặc
      đăng ký, bạn đồng ý với <a href=""> Chính sách quy định của Foody</a></p>
  </div>
</div>